# 共通
.DS_Store
.env
*.local
.env.development
# Node
node_modules/
.pnpm-store/
coverage/
dist/
build/

# Rails
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history

# Editor/OS
*.swp
.idea/
.vscode/
sample.jpg

vendor/
api/vendor/

# ggshield キャッシュはコミットしない
.cache_ggshield
/test
